<div class="body">
  <div class="row p-5 m-2 ">
    <div class="col-12 col-lg-4 p-2  ">

      <!--skils-->
      <article class="card  h-100 w-100 bg-transparent ">
        <h1>Hard & Soft skils</h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <!--IT-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                I.T
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul *ngFor="let item of listaTecnologias">
                  <h3> {{item.item}} </h3>
                  <p>{{item.nivel}}</p>
                </ul>
              </div>
            </div>
          </div>
          <!--IDIOMAS-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Idiomas
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul *ngFor="let item of listaIdiomas">
                  <h3> {{item.item}} </h3>
                  <p>{{item.nivel}}</p>
                </ul>
              </div>
            </div>
          </div>
          <!--OTRAS HABILIDADES-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Sociocultrales, psicoafetivas et al.
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul *ngFor="let item of listaSoftSkils">
                  <h3> {{item.item}} </h3>
                  <p>{{item.nivel}}</p>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="col-12 col-lg-4 p-2">
      <!--Formacion-->
      <article class="card  h-100 w-100 bg-transparent">
        <h1>Formación</h1>
        <div class="accordion accordion-flush" id="accordionFlushExampleF">
          <div class="accordion-item">
            <!--Programación & Desarrollo-->
            <h2 class="accordion-header" id="flush-headingOneF">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOneF" aria-expanded="false" aria-controls="flush-collapseOneF">
                Programación & Desarrollo
              </button>
            </h2>
            <div id="flush-collapseOneF" class="accordion-collapse collapse" aria-labelledby="flush-headingOneF"
              data-bs-parent="#accordionFlushExampleF">
              <div class="accordion-body">
                <ul *ngFor="let item of listaProgramacion">
                  <h3> {{item.item}} </h3>
                  <p>{{item.nivel}}</p>
                </ul>
              </div>
            </div>
            <!--antropologia-->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwoF">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwoF" aria-expanded="false" aria-controls="flush-collapseTwoF">
                  Antropología
                </button>
              </h2>
              <div id="flush-collapseTwoF" class="accordion-collapse collapse" aria-labelledby="flush-headingTwoF"
                data-bs-parent="#accordionFlushExampleF">
                <div class="accordion-body">
                  <ul *ngFor="let item of listaAntropologia">
                    <h3> {{item.item}} </h3>
                    <p>{{item.nivel}}</p>
                  </ul>
                </div>
              </div>
            </div>
            <!--OTROS-->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThreeF">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThreeF" aria-expanded="false"
                  aria-controls="flush-collapseThreeF">Otras</button>
              </h2>
              <div id="flush-collapseThreeF" class="accordion-collapse collapse" aria-labelledby="flush-headingThreeF"
                data-bs-parent="#accordionFlushExampleF">
                <div class="accordion-body">
                  <ul *ngFor="let item of listaOtras">
                    <h3> {{item.item}} </h3>
                    <p>{{item.nivel}}</p>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
    <!--experiencia laboral-->
    <div class="col-12 col-lg-4 p-2">
      <article class="card  h-100 w-100 bg-transparent">
        <h1>Experiecia Laboral</h1>
        <div class="accordion accordion-flush" id="accordionFlushExampleEL">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOneEL">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOneEL" aria-expanded="false" aria-controls="flush-collapseOneEL">
                Programación & Desarrollo
              </button>
            </h2>
            <div id="flush-collapseOneEL" class="accordion-collapse collapse" aria-labelledby="flush-headingOneEL"
              data-bs-parent="#accordionFlushExampleEL">
              <div class="accordion-body">
                <ul *ngFor="let item of listaTrabajoProgramacion">
                  <h3> {{item.item}} </h3>
                  <p>{{item.nivel}}</p>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwpEL">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwoEL" aria-expanded="false" aria-controls="flush-collapseTwoEL">
                Docencia </button>
            </h2>
            <div id="flush-collapseTwoEL" class="accordion-collapse collapse" aria-labelledby="flush-headingTwoEL"
              data-bs-parent="#accordionFlushExampleEL">
              <div class="accordion-body">
                <ul *ngFor="let item of listaTrabajoDocencia">
                  <h3> {{item.item}} </h3>
                  <p>{{item.nivel}}</p>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThreeEL">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThreeEL" aria-expanded="false" aria-controls="flush-collapseThreeEL">
                Otros
              </button>
            </h2>
            <div id="flush-collapseThreeEL" class="accordion-collapse collapse" aria-labelledby="flush-headingThreeEL"
              data-bs-parent="#accordionFlushExampleEL">
              <div class="accordion-body">
                <ul *ngFor="let item of listaTrabajoOtros">
                  <h3> {{item.item}} </h3>
                  <p>{{item.nivel}}</p>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </article>

    </div>
  </div>
</div>