<div class="cotainer mt-5 pt-5 ms-2 me-4 h-100 w-100  ">
  <div class="row ms-sm-2 body">

    <!--aside-->
    <aside class="col-12  col-md-3 col-lg-2 p-0 pb-1 pt-1">
      <div class="card h-100 w-100 bg-transparent pt-2">
        <div class="d-block d-sm-none p-1">
          <h1>Fede Nadal.</h1>
        </div>
        <video class="pause-video js-pause-video paused rounded-circle" [muted]="true" autoplay="" loop=""
          playsinline="" tabindex="0">
          <source src=".\assets\videoPresentacion.mp4">
          Your browser does not support the video tag.
        </video>
        <div class="card h-10 w-100 bg-transparent p-4 pt-3">
          <h4>Fede Nadal</h4>
          <h6>{{miPortfolio.ubicacion}}</h6>
          <button class="btn btn-dark bottom">CV.pdf</button>
          <br>

        </div>
      </div>
    </aside>


    <main class="col-12 col-sm-9 col-md-9 col-lg-10">
      <div class="cotainer h-100 w-100 p-2">

        <!-- fila primera presentacion-->
        <div class="row p-1">
          <div class="col-lg-12 p-1">
            <article class="card  h-100 w-100  text-light bg-transparent pt-1">

              <h4 *ngIf="miPortfolio">{{miPortfolio.tituloCartaPresentacion}}</h4>
              <h5 *ngIf="miPortfolio" class="ps-4">{{miPortfolio.subtituloCartaPresentacion}}</h5>
              <ul *ngIf="miPortfolio">{{miPortfolio.textoPrueba}}</ul>
              <ul *ngIf="miPortfolio">{{miPortfolio.textoPrueba}}</ul>
              <!--botonera contacto-->
              <button class="btn btn-dark bottom" type="submit">Network || Talleres || Servicios || Actividades || Agenda </button>
              </article>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>