.flecha{
display:block ;
z-index: 2;
width: min-content;
position:relative;
}
.body{
    margin-top:70px;
    margin-bottom: 5%;
    margin-right: 2%;
    margin-left: 1%;

}
 .videoPresentacion {
    border: solid; 
    border-color: aliceblue;
 }