/* You can add global styles to this file, and also import other style files */
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

body {
  background: #000;
  color: rgb(255, 255, 255);
  font-family: trajan;
  font-size: 18px;
}

.fn {
  font-family: trajan;
  font-size: 24px;
}

.accordion-button.collapsed {
  background: linear-gradient(to left, rgb(0, 0, 4), rgb(0, 0, 0));
  color: rgb(248, 247, 247);
  border-color: #020202;
  border-width: 5px;
  border-style: solid;
  }



.accordion-button.collapsed:hover {
  background: linear-gradient(to left, rgb(0, 0, 10), rgb(0, 0, 0));
  color: #fa09b6;
  border-color: #fa09b6;
  border-width: 4px;
  border-style: solid;
  animation-name: example;
  animation-duration: 1s;
}

.btn.btn-dark:hover {
  color: #fa09b6;
  border-color: #fa09b6;
  border-width: 3px;
  border-style: solid;
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  from {
    color: rgb(247, 247, 247);
    border-color: #f4f6f7;
  }

  to {
    color: #fa09b6;
    border-color: #fa09b6;
  }
}

.accordion-body {
  background: linear-gradient(to left, rgb(168, 168, 168), rgb(0, 0, 0));
  color: rgb(253, 252, 252);
  border-color: #000000;
  border-width: 3px;
  border-style: solid;

}

.container {
  position: relative;
  z-index: 2;
  opacity: .85;
}

.container-fluid {
  position: relative;
  z-index: 2;
}